<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<title>Cleveland Medical College</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

</head>

<body>

<header>

<div class="logo">
<img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo">
<span>Cleveland Medical College</span>
</div>

<nav>
<a href="/staff-login">Staff Portal</a>
<a href="/student-login">Student Portal</a>
</nav>

</header>


<section class="hero">

<div class="hero-content">
<h1>Welcome to Cleveland Medical College</h1>
<p>Skills With Endless Opportunities</p>
</div>

</section>

<footer>

<p>
© 2026 Cleveland Medical College | Developed by 
<a href="mailto:glemich@gmail.com">Michell Glen's</a>
</p>

</footer>

</body>
</html>